<a href="https://colab.research.google.com/github/ADv0rnik/Data-analysis-for-JER/blob/main/Monthly_index_calc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Calculating of monthly index for airborne activity of surface air

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import seaborn as sns

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
path = '/content/drive/MyDrive/Colab Notebooks/Weekly_index.csv'
df = pd.read_csv(path, parse_dates=['Date'])
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    413 non-null    datetime64[ns]
 1   Conc    410 non-null    float64
 2   w_i     410 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 9.8 KB

In [11]:
df1 = df.reset_index().drop('index', axis = 1)

In [42]:
def mi_calc(my_df, year):
  df_x = my_df[my_df['Year'] == year]
  df_x_m = df_x.groupby(by = 'Month').mean()
  df_x_m.reset_index(inplace = True)
  df_x_m = df_x_m.drop(['Week', 'Year'], axis = 1)
  df_x_m.columns = ['Month', str(year)]
  return df_x_m

monthly_ind = mi_calc(df_mod, 2003)
#monthly_ind = df03_m.merge(df04, on = 'Month')
i = 2004
while i < 2011:
  monthly_ind = monthly_ind.merge(mi_calc(df_mod, i), on = 'Month')
  i += 1
monthly_ind.set_index('Month')

           2003      2004      2005  ...      2008      2009      2010
Month                                ...
1      1.511703  1.206579  0.623029  ...  0.977553  1.538770  0.740858
2      0.858903  0.899643  0.980893  ...  0.630303  1.685138  1.000158
3      1.121710  0.751466  0.661115  ...  0.639641  1.602663  0.711224
4      1.029055  1.103385  1.419241  ...  1.219753  1.254944  1.032262
5      1.219667  1.071104  0.892505  ...  1.251852  0.948972  1.051031
6      0.994440  0.905596  0.797650  ...  1.034164  0.898571  1.037201
7      0.977070  1.018536  0.698482  ...  1.059259  0.789113  1.328605
8      0.765622  1.510553  1.218032  ...  1.218586  0.706638  1.715169
9      0.782491  1.666985  1.118326  ...  1.205163  0.957118  0.730980
10     0.731550  0.989254  1.560806  ...  0.992144  0.554925  0.847542
11     1.034191  0.820262  1.517151  ...  0.714343  0.373683  0.802596
12     0.994607  0.439237  0.659543  ...  1.155556  0.781476  0.913725

[12 rows x 8 columns]

In [15]:
df1['Week'] = df1.Date.dt.isocalendar().week
df1['Month'] = df1.Date.dt.month
df1['Year'] = df1.Date.dt.year
df_mod = df1.drop('Conc', axis =1)
df_mod

          Date       w_i  Week  Month  Year
0   2003-01-05  1.837894     1      1  2003
1   2003-01-12  2.415117     2      1  2003
2   2003-01-19  0.661401     3      1  2003
3   2003-01-26  1.132399     4      1  2003
4   2003-02-02  0.479349     5      2  2003
..         ...       ...   ...    ...   ...
408 2010-11-28  0.434637    47     11  2010
409 2010-12-05  1.679278    48     12  2010
410 2010-12-12  0.405002    49     12  2010
411 2010-12-19  0.958176    50     12  2010
412 2010-12-26  0.612443    51     12  2010

[413 rows x 5 columns]

In [60]:
#использовать цикл для перебора столбцов
#использовать метод loc[]
#длина фрейма?
monthly_ind_mod = monthly_ind.T
monthly_ind_mod.loc['Month'] = monthly_ind_mod.loc['Month'].apply(np.int64)
monthly_ind_mod

             0         1         2   ...         9          10         11
Month  1.000000  2.000000  3.000000  ...  10.000000  11.000000  12.000000
2003   1.511703  0.858903  1.121710  ...   0.731550   1.034191   0.994607
2004   1.206579  0.899643  0.751466  ...   0.989254   0.820262   0.439237
2005   0.623029  0.980893  0.661115  ...   1.560806   1.517151   0.659543
2006   1.185612  2.786187  0.988800  ...   0.753100   0.571465   0.515978
2007   0.504684  0.656399  0.949508  ...   1.281836   0.947444   0.866942
2008   0.977553  0.630303  0.639641  ...   0.992144   0.714343   1.155556
2009   1.538770  1.685138  1.602663  ...   0.554925   0.373683   0.781476
2010   0.740858  1.000158  0.711224  ...   0.847542   0.802596   0.913725

[9 rows x 12 columns]