<a href="https://colab.research.google.com/github/ADv0rnik/Data-analysis-for-JER/blob/main/Monthly_index_calc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import seaborn as sns

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
path = '/content/drive/MyDrive/Colab Notebooks/Weekly_index.csv'
df = pd.read_csv(path, parse_dates=['Date'])
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    413 non-null    datetime64[ns]
 1   Conc    410 non-null    float64
 2   w_i     410 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 9.8 KB

In [11]:
df1 = df.reset_index().drop('index', axis = 1)

In [13]:
df1['Week'] = df1.Date.dt.isocalendar().week
df1['Month'] = df1.Date.dt.month
df1['Year'] = df1.Date.dt.year
df1

          Date       Conc       w_i  Week  Month  Year
0   2003-01-05  26.200000  1.837894     1      1  2003
1   2003-01-12  34.428571  2.415117     2      1  2003
2   2003-01-19   9.428571  0.661401     3      1  2003
3   2003-01-26  16.142857  1.132399     4      1  2003
4   2003-02-02   6.833333  0.479349     5      2  2003
..         ...        ...       ...   ...    ...   ...
408 2010-11-28   6.285714  0.434637    47     11  2010
409 2010-12-05  24.285714  1.679278    48     12  2010
410 2010-12-12   5.857143  0.405002    49     12  2010
411 2010-12-19  13.857143  0.958176    50     12  2010
412 2010-12-26   8.857143  0.612443    51     12  2010

[413 rows x 6 columns]